:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

  body {
    font-family: "Raleway", sans-serif;
  }
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 10%;
    width: 100%;
    background-color: var(--main-red);
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
  }

  li {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5%;
    font-size: 21px;
  }

  li > a {
    text-decoration: none;
    color: var(--main-white);
  }

  #welcome-section {
    height: 100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin: 0px -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 2%;
  }
  #welcome-section > h2 {
    color: var(--main-white);
    font-size: 2rem;
    margin: 0px;
  }
  #welcome-section > h1 {
    color: var(--main-red);
    font-size: 3rem;
    margin: 0px;
  }
  #welcome-section > p {
    color: var(--main-white);
    font-size: 2rem;
    margin: 0px;
    text-align: center;
  }

  #beer{
    display: inline-block;
    cursor: pointer;
    font-size: 2.5rem;
  }
  
  @keyframes shake {
    0%{
        transform: scale(1);
      }
      
      25%{
        transform: scale(1.25);
      }
      
      50%{
        transform: scale(1.25);
      }
      
      100%{
        transform: scale(1);
    }
  }
  
  #beer:hover{
    animation: shake 1s ease-in-out 0s infinite alternate-reverse;
  }

  #projects {
    background-color: var(--main-blue);
    margin: 0px -8px;
    padding: 2%;
    box-sizing: border-box;
  }
  #projects > h2 {
    margin: 0%;
    color: var(--main-white);
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
  }

  #project-container {
    display: grid;
    margin-top: 10%;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 20px 10px;
  }

  .project-tile {
    display: block;
    grid-column: span 4;
    border: 2px solid var(--main-gray);
    text-decoration: none;
  }

  .project-image {
    width: 100%;
    background-color: var(--main-gray);
  }

  .project-title {
    background-color: var(--main-gray);
    margin: -4px auto 0px;
    text-align: center;
    color: var(--main-red);
    padding: 4% 0%;
  }

  .project-title:hover {
    color: orangered;
  }

  #footer {
    border-top: 4px solid var(--main-red);
  }

  #footer > p {
    font-size: large;
    margin: 0px;
    position: relative;
    color: var(--main-white);
    top: 50%;
    text-align: center;
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    #projects > h2 {
      padding-top: 28%;
    }

    #project-container > a {
      grid-column: span 12;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    #projects > h2 {
      padding-top: 14%;
    }

    #project-container > a {
      grid-column: span 6;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    #projects > h2 {
      padding-top: 13%;
    }

    #project-container > a {
      grid-column: span 4;
    }
  }

  @media screen and (min-width: 1025px) {
    #projects > h2 {
      padding-top: 8%;
    }

    #project-container > a {
      grid-column: span 4;
    }
  }

  #contact {
    height: 80vh;
    background-color: var(--main-gray);
    margin: 0px -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-main {
    text-align: center;
  }

  .contact-main > h1 {
    color: var(--main-white);
    font-size: 3rem;
    font-weight: bold;
  }

  .contact-main > p {
    color: var(--main-white);
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    right: 3%;
  }

  .contact-link {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .contact-link > a {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    padding-right: 4%;
    font-size: 3rem;
  }

  #role{
    font-size: 2.5rem;
    animation: textBounce 2s linear 0s infinite alternate;
  }

  @keyframes textBounce {
    0% {
      color: var(--main-red);
    }
    100% {
      color: var(--main-white);
    }
  }

  .contact-link > a:hover {
    animation: bounce 2s linear 0s infinite alternate;
  }

  @keyframes bounce {
    0% {
      color: var(--main-red);
    }
    50% {
      color: var(--main-blue);
    }
    100% {
      color: var(--main-white);
    }
  }

  #footer {
    height: 20vh;
    background-color: var(--main-gray);
    margin: 0px -8px -8px;
  }

  #heart{
    display: inline-block;
    animation: beat 2s linear 0s infinite ;
  }

  @keyframes beat {
    0%{
      transform: scale(1);
    }

    25%{
      transform: scale(1.5);
    }

    50%{
      transform: scale(1);
    }

    75%{
      transform: scale(1.5);
    }

    100%{
      transform: scale(1);
    }


  }